@model IEnumerable<IPSProyectoÁgil.Models.PodCasts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emisora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.programa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.participantes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tematica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emisora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.programa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.participantes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tematica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Identificador }) |
            @Html.ActionLink("Details", "Details", new { id=item.Identificador }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Identificador })
        </td>
    </tr>
}

</table>
