@model IPSProyectoÁgil.Models.Albums

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Albums</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.artista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discografica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discografica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numCanciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numCanciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Identificador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
