@model IEnumerable<IPSProyectoÁgil.Models.Opiniones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_ocio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_ocio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.voto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_ocio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_ocio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.voto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Identificador }) |
            @Html.ActionLink("Details", "Details", new { id=item.Identificador }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Identificador })
        </td>
    </tr>
}

</table>
